<div class="container">
    <div class="row">
        <h4>SRM Calculator</h4>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                SRM: {{vm.data.srm}}
                Hex: {{vm.data.hex}}
            </div>
            <div class="row"
                 ng-repeat="grain in vm.data.grains">
                <div class="col-sm-6">
                    <input ng-model="grain.weight" type="number"/>
                </div>
                <div class="col-sm-6">
                    <select ng-model="grain"
                            ng-options="opt.grain for opt in vm.getGrainOptions()"
                            ng-change="vm.handleGrainChage(grain, $index)"></select>
                </div>
            </div>
			<div class="row">
                <div class="col-sm-6">
                    <label for="gallons">Gallons:</label>
                </div>
                <div class="col-sm-6">
                    <input id="gallons" ng-model="vm.data.gallons" type="number"/>
                </div>
			</div>
        </div>
    </div>
</div>
